

body {
    font-family: sans-serif;
    margin: 0;
    color: #333;
    background-color: #ffffff; 
}


header {
    background-color: #005294;
    padding: 20px;
    color: white;
    text-align: center;
}


nav {
    background-color: #F7957A;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}


main {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

h1, h2 {
    color: #005294; 
}

.knop {
    background-color: #009FE3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

footer {
    border-top: 5px solid #F7957A;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
}